<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel="shortcut icon" href="../../images/favicon.ico" type="image/x-icon">
    <meta name="description" content="<%= description %>">
    <meta name="keywords" content="<%= keywords %>">
    <meta name="author" content="zooble,wenliang.web@gmail.com">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
</head>
<script>
    var serverData = {
        user: <%- user %>,
        date: <%- date %>,
        articalList: <%- articalList %>
    };
</script>
<body>
    <div id="index"><%- componentServerTpl %></div>
</body>
</html>